{% load static %}

<header class="navbar">
    <div class="navbar-logo">
        <a href="{% url 'app_user:register' %}">
            <img
                class="navbar-logo-img"
                src="{% static 'projects/images/notif.jpg' %}"
                alt="Logo"
            />
        </a>
        <a href="{% url 'app_user:register' %}">
            <span>Task Manager</span>
        </a>
    </div>
    <nav class="navbar-menu">
        <a href="{% url 'app_projects:main' %}">Главная</a>
        <a href="{% url 'app_tasks:task_view' %}">Задачи</a>
        <a href="{% url 'app_projects:projects_list' %}">Проекты</a>
        <a href="{% url 'app_user:register' %}">Регистрация/Вход</a>
    </nav>
</header>
