{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form method="post" action="" class="projform-card">
        {% csrf_token %}
        <div class="projform-fields">
            {% for field in form %}
                <div class="projform-field">
                    <label for="{{ field.id_for_label }}" class="projform-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="projform-error">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="projform-submit-container">
            <button type="submit" class="save-btn">Сохранить</button>
        </div>
    </form>
{% endblock %}
