{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="projects-section">
    <h2 class="projects-title">Мои проекты:</h2>

    <div class="projects-container" id="projectsContainer">
        {% for project in projects %}
        <div class="project-card">
            <a href="{% url 'app_projects:project_view' project.slug %}">

                <p class="project-title"><strong>{{ project.title }}</strong></p>
                <p class="project-description">{{ project.description }}</p>
                <p>{{ project.comment }}</p>
                <ul class="project-tasks">
                    {% for task in project.tasks.all %}
                    <li>{{ task.title }}</li>
                    {% endfor %}
                </ul>

{#                <a href="#" class="project-btn">Добавить задачи</a>#}
                <a href="{% url 'app_tasks:task_create' %}?project={{ project.slug }}" class="project-btn">Добавить задачи</a>
                <p class="project-meta">Статус проекта: {{ project.get_visibility_display }}</p>

                <span
                    class="project-status {% if project.status == 'active' %}in-progress{% else %}completed{% endif %}">
                    {{ project.get_status_display }}
                </span>

                <a href="#" class="st-btn">{{ project.get_is_completed_display }}</a>

            </a>
        </div>
        {% endfor %}

        {# <div class="project-card project-add">#}
            {# <div class="project-add-btn">+</div>#}
            {# <p class="project-add-text">Создать проект</p>#}
            {# </div>#}
        <a href="{% url 'app_projects:create_project' %}" class="project-card project-add">
            <div class="project-add-btn">+</div>
            <p class="project-add-text">Создать проект</p>
        </a>
    </div>

    <div class="projects-arrows">
        <button class="projects-arrow" onclick="scrollProjects(-1)">&larr;</button>
        <button class="projects-arrow" onclick="scrollProjects(1)">&rarr;</button>
    </div>
</section>

<!-- Подключение JS -->
<script src="{% static 'projects/js/projects_scroll.js' %}"></script>
{% endblock %}