{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="task-card">
    <h3>Название:</h3>

    <div class="task-layout">
        <!-- Подзадачи -->
        <div class="subtasks">
            <button class="subtask-btn">Подзадача 1</button>

            <button class="subtask-control-btn">Изменить подзадачи</button>
            <button class="subtask-control-btn">Добавить подзадачи</button>
            <button class="subtask-control-btn">Удалить подзадачи</button>
        </div>

        <!-- Описание и комментарий -->
        <div class="task-info">
            <label>Описание задачи</label>
            <textarea class="task-textarea"></textarea>

            <label>Комментарий:</label>
            <textarea class="task-textarea"></textarea>

            <button class="status-btn">В работе</button>
            <button class="delete-btn">Удалить</button>
        </div>

        <!-- Срок и приоритет -->
        <div class="task-meta">
            <p>Срок сдачи: 24.07.2025</p>
            <p>Приоритет: высокий</p>
            <button class="edit-btn">Редактировать</button>
        </div>
    </div>
</div>

<!-- Кнопка назад -->
<div class="back-btn-container">
    <a href="{% url 'app_tasks:tasks_list' %}" class="back-btn">Вернуться обратно</a>
</div>
{% endblock %}
