html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    margin-top: 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 40px;
}

.navbar-logo-img,
.profile {
    height: 47px;
    width: 47px;
    margin-left: 40px;
}

.navbar-logo span {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    margin-left: 100px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 58px;
    margin-right: 110px;
}

.navbar-menu a {
    font-family: Rubik, sans-serif;
    font-size: 24px;
    color: #595959;
    transition: all 0.2s ease-in-out;
}

.navbar-menu a:hover,
.navbar-menu a.active {
    color: #e53935;
    border-bottom: 2px solid #e53935;
}

.features-section {
    display: flex;
    padding: 40px;
    background-color: #fff;
}

.features-text {
    max-width: 600px;
    display: flex;
    margin-top: 50px;
    margin-left: 115px;
    flex-direction: column;
    gap: 30px;
}

.features-text h2 {
    font-size: 28px;
    font-weight: 600;
    color: #0d0d0d;
    line-height: 1.4;
    margin-left: 10px;
}

.features-text strong {
    font-weight: 700;
}

.features-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.features-list li {
    position: relative;
    padding-left: 32px;
    font-size: 24px;
    color: #444;
}

.features-list li::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: #00c853;
    font-weight: bold;
}

.features-buttons {
    display: flex;
    gap: 35px;
    margin-top: -2px;
    margin-left: 600px;
}

.btn-primary {
    background-color: #e53935;
    color: #fff;
    padding: 20px 100px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 20px 20px rgba(229, 57, 53, 0.3);
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.btn-primary:hover {
    background-color: #d32f2f;
}

.feat-img {
    width: 600px;
    height: auto;
    display: block;
    margin-top: -470px;
    margin-left: 650px;
}

.auth-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    background-color: #fff;
}

.auth-image img {
    width: 400px;
    height: auto;
    margin-right: 200px;
}

.auth-form {
    max-width: 400px;
    width: 100%;
    margin-right: 220px;
}

.auth-form h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.auth-form p {
    font-size: 16px;
    margin-top: 40px;
}

.auth-form form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 15px;
    margin-top: 55px;
}

.auth-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.auth-form button {
    background-color: #e53935;
    color: #fff;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 45px;
}

.auth-form button:hover {
    background-color: #d32f2f;
}

.auth-form a,
.auth-form .register-row a {
    color: #e53935;
    text-decoration: none;
    border-bottom: 1px solid #e53935;
}

.auth-form a {
    margin-left: 175px;
    margin-top: 65px;
}

.auth-form .register-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 40px;
}

.auth-form .register-row p {
    margin: 0;
}

.tasks-section {
    padding: 20px 40px;
}

.tasks-container {
    display: flex;
    gap: 56px;
    overflow-x: auto;
    margin-left: 100px;
    padding-bottom: 20px;
}

.task-card {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 30px 20px;
    min-height: 500px;
    border: 1px solid #f44336;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}


.task-card h3 {
    margin-top: 6px;
    text-align: center;
    font-size: 28px;
}

.add-subtask-btn {
    background-color: #f44336;
    color: white;
    border: none;
    font-family: Inter;
    padding: 10px 4px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
}

.task-card p {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 5px;
    font-family: Inter;
    text-align: center;
    color: #595959;
}

.task-card a.comment-link {
    color: #f44336;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 15px 0 10px;
}

.task-card a.comment-link:hover {
    text-decoration: underline;
}

.status-btn {
    background-color: white;
    color: #f44336;
    border: 2px solid #f44336;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(244, 67, 54, 0.3);
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 40px;
}

.status-btn:hover {
    background-color: #f44336;
    color: white;
}

.status-btn.done {
    background-color: #f44336;
    color: white;
    border: none;
    box-shadow: 0 4px 10px rgba(244, 67, 54, 0.5);
}

.status-btn.done:hover {
    background-color: #fff;
    color: #f44336;
}
.task-layout {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subtasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    min-width: 120px;
    margin-top: 45px;
}

.subtask-btn {
    padding: 15px;
    border: 1px solid #f44336;
    background: white;
    border-radius: 6px;
    color: #f44336;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}

.subtask-control-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.task-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 2;
    min-width: 280px;
}

.task-info label {
    font-family: Inter;
    text-align: center;
    color: #444;
}

.task-textarea {
    width: 90%;
    height: 100px;
    border: 1px solid #f44336;
    border-radius: 6px;
    padding: 8px;
    font-family: Inter;
    display: block;
    margin: 0 auto; 
}


.task-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.delete-btn {
    background-color: #f44336;
    color: #ffffff;
    border: 2px solid;
    width: 100px; 
    text-align: center;
    padding: 8px 0; 
    border-radius: 50px;
    margin-top: 40px;
    font-weight: 600;
    margin-left: 450px;
}

.task-meta {
    flex: 1;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 5px;
    margin-top: 45px;
    font-family: Inter;
    color: #333;
}

.edit-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}

.back-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.back-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(244, 67, 54, 0.3);
    cursor: pointer;
    margin-top: 40px;
}


.add-task {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #f44336;
    border-radius: 10px;
    min-width: 150px;
}

.add-btn {
    background-color: #f44336;
    color: white;
    font-size: 32px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn:hover {
    background-color: #d32f2f;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 0 10px;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
}

.page-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(244, 67, 54, 0.3);
}

.page-btn:hover {
    background-color: #d32f2f;
}

.filters {
    padding: 20px 40px;
}

.filters h3 {
    margin-bottom: 10px;
}

.filters label {
    margin-right: 20px;
}

.register-row {
    gap: 0px;
    /* Расстояние между текстом и ссылкой */
    margin-top: 40px;
}

.register-row p {
    font-size: 16px;
    white-space: nowrap;
}

.register-row a {
    color: #e53935;
    text-decoration: none;
    border-bottom: 1px solid #e53935;
    font-size: 16px;
    margin-top: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

.notifications-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Inter', sans-serif;
}

.notif-title {
    font-size: 32px;
    font-weight: 600;
    color: #444;
    margin-bottom: 30px;
    text-align: center;
}

.notifications-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* выравнивание по центру */
    gap: 20px;
    width: 100%;
}

.notification-box {
    border: 1px solid #e58a8a;
    border-radius: 6px;
    padding: 20px 550px;
    background: #fff;
    color: #444c5e;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    display: block;
}

.taskm-section {
    padding: 20px 40px;
}

.taskm-heading {
    margin: 40px 0 30px 40px;
}

.taskm-container {
    display: flex;
    gap: 40px; /* здесь отступы между карточками */
    overflow-x: auto;
    padding: 0 40px 20px;
}


.taskm-card {
    border: 1px solid #f44336;
    border-radius: 10px;
    width: 250px;
    min-height: 300px;
    padding: 50px;
    text-decoration: none;
    color: inherit;
    transition: box-shadow 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskm-card:hover {
    box-shadow: 0 0 10px rgba(244, 67, 54, 0.3);
}

.taskm-content {
    text-align: center;
}

.taskm-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
}

.taskm-subtask-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}

.taskm-meta {
    margin: 5px 0;
    color: #595959;
}

.taskm-status {
    display: inline-block;
    margin-top: 15px;
    padding: 15px 20px;
    border: 1px solid #f44336;
    border-radius: 10px;
    color: #f44336;
    font-size: 14px;
}

.taskm-add-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
}

.taskm-add-btn {
    width: 60px;
    height: 60px;
    background-color: #f44336;
    border-radius: 50%;
    font-size: 36px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskm-add-btn:hover {
    background-color: #d32f2f;
}

.taskm-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* вот тут будет работать gap */
    margin-top: 20px;
}


.taskm-page-btn {
    background-color: white;
    border: 1px solid #f44336;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    gap: 50px;
    color: #f44336;
    font-size: 20px;
    cursor: pointer;
}
.taskm-page-btn {
    margin: 0 40px; /* Добавляет отступы слева и справа у каждой кнопки */
}


.taskm-page-btn:hover {
    background-color: #f44336;
    color: white;
}

.taskm-filters {
    margin-top: 30px;
    text-align: center;
}

.taskm-filters h3 {
    margin-bottom: 10px;
}

.taskm-filters label {
    margin: 0 15px;
}
