{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="auth-section">
    <div class="auth-image">
        <img src="{% static 'user/images/main.jpg' %}" alt="Welcome Image" />
    </div>

    <div class="auth-form">
        {% if page == 'register' %}
            <h2>Создайте аккаунт</h2>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                	{{ field.label }}
                    {{ field }}
                {% endfor %}

                <button type="submit" class="btn-primary">Создать аккаунт</button>
            </form>
            <div class="register-row">
                <p>Есть аккаунт?</p>
                <a href="{% url 'app_user:login' %}">Войти</a>
            </div>
        {% else %}
        <h2>Войдите в аккаунт</h2>
        <form id="loginForm" method="POST" action="{% url 'app_user:login' %}">
            {% csrf_token %}

            <input class="input input--text" id="formInput#text" type="text" name="username"
                placeholder="Введите имя пользователя" />
            <input class="input input--password" id="formInput#passowrd" type="password" name="password"
                placeholder="••••••••" />
            <button type="submit" class="btn-primary">Войти</button>
        </form>
        <div class="register-row">
            <p>Нет аккаунта?</p>
            <a href="{% url 'app_user:register' %}">Зарегистрироваться</a>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
