{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="profile-section">
    <h1 class="profile-title">Страница профиля</h1>

    <div class="profile-info">
        <p class="profile-field"><strong>Никнейм:</strong> {{ user }}</p>
        <p class="profile-field"><strong>Email:</strong> {{ user.email }}</p>
    </div>

    <form method="post" action="{% url 'app_user:logout' %}" class="logout-form">
        {% csrf_token %}
        <button type="submit" class="logout-btn">Выйти</button>
    </form>
</section>
{% endblock %}
